.host--section {
  display: flex;
  width: 100%;
  .accordion-left {
    margin-right: 50px;
    width: 50%;
  }
  .accordion-right {
    margin-left: 50px;
    width: 50%;
  }
}

@media screen and (max-width: 790px) {
  .host--section {
    flex-direction: column;
    .accordion-left {
      margin: auto;
      width: 100%;
    }
    .accordion-right {
      margin: auto;
      width: 100%;
    }
  }
}
