@import './../../style/module.scss';

.hosting {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  color: $MainColor;
  h3 {
    font-size: 4.1vh;
  }
  .location {
    display: block;
    font-size: 1.7vh;
    padding: 15px 0;
  }
  .tags {
    display: flex;
    .tag {
      background-color: $MainColor;
      width: auto;
      height: 27px;
      line-height: 27px;
      padding: 0 13px;
      margin-right: 10px;
      color: #fff;
      text-align: center;
      border-radius: 8px;
    }
  }
  .host {
    display: flex;
    .host-name {
      width: 100px;
      display: block;
      height: 60px;
      line-height: 30px;
      font-size: 2.1vh;
      margin: 10px 15px;
      text-align: end;
    }
    .host-pic img {
      width: 80px;
      height: 80px;
      border: solid;
      border-radius: 50%;
      overflow: hidden;
    }
  }
  .rating {
    text-align: right;
    img {
      margin: 5px;
    }
  }
}
