@import './../../style/module.scss';

.not-found {
  color: $MainColor;
  text-align: center;
  margin-top: 100px;
  font-family: $MainFont;
  span {
    display: block;
    font-size: 22vw;
    font-family: $BoldFont;
  }
  h1 {
    font-size: 2vw;
    margin-bottom: 100px;
    padding: 60px;
  }
  .error-link {
    display: block;
    font-size: 1.5em;
    color: $MainColor;
    text-decoration: underline;
    margin-bottom: 200px;
  }
}
