.banner {
  position: relative;
  border-radius: 18px;
  overflow: hidden;
  height: 168px;
  margin: 25px 0;
  box-shadow: 2px 2px 7px rgb(83, 83, 83);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .gimmick {
    width: 90%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.2vmax;
    color: #fff;
  }
  br {
    display: none;
  }
}
.banner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}

@media screen and (max-width: 1050px) {
  .gimmick {
    font-size: 7vmax;
  }
}

@media screen and (max-width: 500px) {
  .banner {
    height: 105px;
    border-radius: 10px;
    .gimmick {
      text-align: left;
    }
    br {
      display: block;
    }
  }
}
