.slider {
  position: relative;
  width: 100%;
  height: 24vw;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 2px 2px 8px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: 1s ease;
  }

  .slide.active {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition-duration: 1s;
  }
  .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 95%;
    .arrow {
      cursor: pointer;
    }
    .arrow:hover > img {
      opacity: 1;
    }
    img {
      width: 42px;
      opacity: 0.6;
      transition: 0.3s;
    }
  }
  .counter {
    position: absolute;
    display: block;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
  }
}

@media screen and (max-width: 500px) {
  .slider {
    height: 60vw;
    border-radius: 7px;
    .arrows {
      width: 100%;
      margin-left: 10px;
      img {
        width: 40%;
        opacity: 1;
      }
    }
  }
}
